body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select /*,
textarea */ {
    max-width: 280px;
}

.gray {
    background-color: lightgray;
}

.border {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.border-top {
    border-top: 2px solid black;
}

.border-right {
    border-right: 1px solid black;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.mr-top-55 {
    margin-top: 55px;
}

.buttondemoBasicUsage section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px;
}

.buttondemoBasicUsage md-content {
    margin-right: 7px;
}

.buttondemoBasicUsage section .md-button {
    margin-top: 16px;
    margin-bottom: 16px;
}

.buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    font-size: 14px;
    opacity: 0.54;
}

#reviewOfSystems > div {
    min-height: 150px;
}
