*.suo
Established-Patient-Form/DataAccess/bin/*
Established-Patient-Form/DataAccess/obj/*
Established-Patient-Form/Established-Patient-Form/bin/*
Established-Patient-Form/Established-Patient-Form/obj/*
